.header{
    position: relative;
    flex: 1 1 0%;
    
}

.header ul li{
    display: inline-block;
    position: relative;
    color: #2e2e5d;
    font-size: medium;
    list-style: none;
    padding: 8px 12px;
   margin-left: 2%;
   margin-right: 30px;
   
}

#join{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(206, 208, 211);
    border-radius: 30px;
}

#upshift{
    font-size: xx-large;
    font-weight: 500;
    margin: 0%;
    text-shadow:#424244;
    padding: 2%;
    padding-right: 5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #51518c;
}

#business{
    padding-right: 5%;
}

#us{
    padding-right: 4%;
}

#join{
    text-align: right;
}

.content{
    text-indent: 10px;
    font-weight: 545;
    color: #282869;
    padding: 2%;
    margin: 2%;
    padding-left: 25px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

    #para{
        font-size: medium;
    }
    #get{
        display: inline-block;

    }
}

.front
{
    background-color: rgb(246, 246, 248);
}

.form {
    --width-of-input: 300px;
    --border-height: 1px;
    --border-before-color: rgba(80, 119, 163, 0.39);
    --border-after-color: #3a5a9c;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
   }
   
   .input {
    color: #4f6587;
    font-size: small;
    background-color: transparent;
    width: 90%;
    box-sizing: border-box;
    padding-inline: 2px;
    padding-block: 5px;
    padding-bottom: 10px;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    margin-left: 20%;
   }
   
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 4px;
    bottom: 2;
    left: 0;
    transition: 0.3s;
   }
   
   input:focus {
    outline: none;
   }
   
   
button {
    color: #ffffff;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 0.em;
    background: #6d6d8c;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    bottom: 50px;
    left: 350px;
  }
  
  button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  }
  
  

  .ad{
    position: relative;
    flex: 1 1 0%;
  }

  .ad ul li{
    display: inline-block;
    position: relative;
    color: #2e2e5d;
    list-style: none;
    padding: 10px 15px;
   margin-left: 1%;
   margin-right: 30px;
   bottom: 16;
   padding-left: 1%;
   padding-right: 2%;
}
#arrow{
    background-color: rgb(246, 246, 248);
    float: right;
    padding-left: 2%;
    font-size: large;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 7%;
    padding-right: 7%;
    margin-right: 0%;
    text-align: center;
}

  .about{
    position: relative;
  }

  #x
  {
    display: inline-block;
    color: #6d6d8c;
    position: relative;
    border: 0px solid rgb(246, 246, 248);
    font-size: 160px;
    font-weight: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 15%;
    padding-top: 2%;
    z-index: 1;
    background-color: rgb(246, 246, 248);
  }

#review{
    display: inline-block;
    position: absolute;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    padding-block: 2%;
    background-color: #34345b;
    color: white;
    padding-left: 5%;
    padding-right: 3%;
    left: 100px;
    top: 300;
    z-index: 2;
    line-height: 30px;

    #y{
        display: inline-block;
        border: 1px solid #282869;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 14px;
        padding-right: 14px;
       border-radius: 100%;
       background-color: rgb(114, 114, 142);
       color: white;
    }

    #sam{
        position: relative;
        float: right;
        right: 330;
        font-weight: 600;
        top: 9;
        font-size:small;
        color: rgb(246, 244, 244);
    }

    #star{
        position: relative;
        float: right;
        font-weight: 1000;
        word-spacing: 2px;
    }

}
   
.let{
    display: inline-block;
    border: 1px solid white;
    float: right;
    bottom: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    margin-right: 10%;
    padding-top: 15%;
    color: #282869;
    top: 500;

    #two{
        font-size: medium;
        
    }
    #up{
        font-size: medium;
        line-height: 20px;
    }

    #we{
        font-size: medium;
        line-height: 20px;
    }

    #ul{
        width: 80%;
        padding: 2%;
    }

    #z{
        display: inline-block;
        border: 1px solid rgb(114, 114, 142);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 14px;
        padding-right: 14px;
       border-radius: 100%;
       background-color: rgb(114, 114, 142);
       color: white;
    }

    #int{
        position: relative;
        font-size: medium;
        float: right;
        top: 4px;
        right: 200;
    }

    #learn{
        position: relative;
        float: right;
        font-size: large;
        bottom: 60;
        right: 90px;
    }
}

#first{
    position: relative;
    display: inline-block;
    color: #282869;
    margin-left: 5%;
    top: 200;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    line-height: 35px;
}

#second{
    position: relative;
    display: inline-block;
    color: #282869;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 220;
    left: 300;
    line-height: 30px;
    #n{
        display: inline-block;
        border: 1px solid rgb(114, 114, 142);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
       border-radius: 100%;
       background-color: rgb(114, 114, 142);
       color: white;
    }

    #check{
        font-size: medium;
    }

    #snow{
        font-size: medium;
    }
}

#third{
    position: relative;
    display: inline-block;
    color: #282869;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    line-height: 30px;
    margin-right: 15px;
    #m{
        display: inline-block;
        border: 1px solid rgb(114, 114, 142);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
       border-radius: 100%;
       background-color: rgb(114, 114, 142);
       color: white;
    }
}

.end{
    position: relative;
    flex: 1 1 0%;
    
}

.end ul li{
    display: inline-block;
    position: relative;
    color: #282869;
    font-size: medium;
    list-style: none;
   margin-left: 2%;
   margin-right: 0px;
   top: 300;
   padding-left: 1%;
   padding-right: 1%;

  #i{
    display: inline-block;
    font-size: large;
        border: 1px solid rgb(199, 199, 208);
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 18px;
        padding-right: 18px;
       border-radius: 100%;
       background-color: rgb(199, 199, 208);
       color: white;
  }

  
}
@media screen and (max-width: 649px) {
    .front{
        width: 100%;
    }

    .header{
        position: relative;
        font-size: 0.5px;
        text-indent: 5px;

        #upshift{
            font-size: medium;
            padding: 0px;
        }

        #business{
            padding: 0%;
            text-align: center;
        }
    }
    button {
        color: #ffffff;
        padding: 10px 15px;
        font-size: 10px;
        border-radius: 0.em;
        background: #6d6d8c;
        cursor: pointer;
        border: 1px solid #e8e8e8;
        transition: all 0.3s;
        border-radius: 30px;
        position: relative;
        display: inline-block;
        bottom: 40px;
        left: 200px;
      }

      .content{
        font-size: 25px;
        #para{
            font-size: small;
        }
      }

      .form {
        --width-of-input: 200px;
        --border-height: 1px;
        --border-before-color: rgba(80, 119, 163, 0.39);
        --border-after-color: #3a5a9c;
        --input-hovered-color: #4985e01f;
        position: relative;
        width: var(--width-of-input);
       }
       
       .input {
        color: #4f6587;
        font-size: 10px;
        background-color: transparent;
        width: 90%;
        margin: 15px;
        bottom: 200px;
        box-sizing: border-box;
        padding-inline: 2px;
        padding-block: 5px;
        padding-bottom: 10px;
        border: none;
        border-bottom: var(--border-height) solid var(--border-before-color);
       }
       
       .input-border {
        position: absolute;
        background: var(--border-after-color);
        width: 0%;
        height: 4px;
        bottom: 2;
        left: 0;
        transition: 0.3s;
       }
       
       input:focus {
        outline: none;
       }
       
}